.top{
border: 2px solid red;
background-color: lightgray;
display: flex;
align-items: center;
justify-content: space-around;
font-family: monospace;
font-size: 20px;
}
.Rubrik{
border: 1px solid ;
background-color: aqua;
padding-left: 60px;
padding-right: 60px;
font-family: sans-serif;
}
.middle{
padding-top: 40px;
padding-bottom: 40px;
border: 2px solid yellow;
display: flex;
align-items: center;
justify-content: space-around;
font-family: monospace;
}
.Vänster{
border: 2px solid;
background-color: yellow;
width: 49%;
align-items: center;
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
}
.Höger{
border: 2px solid;
background-color: pink;
width: 49%;
align-items: center;
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
}   